

.tinder-cards {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}
.tinder-cards > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.tinder-cards .tinder-card {
    z-index: 1;
}
.tinder-cards .tinder-card {
    z-index: 2;
}

